/* Style for KIT202 Journal */

body {
    width: 21cm;
    height: 29.7cm;
    background-color: #12314a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: justify;
    margin: 5px auto;
}

header {
    background-color: #163853;
    padding: 10px;
}

nav {
    background-color: #dddddd;
    margin-bottom: 15px;
    padding-bottom: 10px;
    ul {
        display: grid;
        justify-content: center;
        list-style-type: none;
        font-size: 16px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        a {
            text-decoration: none;
        }
        &.weeks {
            grid-template-columns: 100px 100px 100px 100px 100px 100px;
            gap: 20px 10px;
        }
        &.assignments {
            margin-left: -25px;
            grid-template-columns: 120px 120px;
            gap: 20px 40px;
        }
    }
}
main {
    padding: 20px 15px;
    background-color: #dddddd;
}

h1 {
    color: white;
    text-align: center;
    font-size: 320%;
}

h2 {
    color: #163853;
    text-align: center;
    padding-top: 15px;
    text-decoration: underline 2px;
}

.content {
    color: #163853;
    border-top: 2.5px dashed #163853;
    margin: 10px auto -5px;
    text-align: left;
    text-indent: 20px;
}
.first {
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-transform: none;
    padding: 10px;
    background-color: white;
}

.spacer {
    padding: 10px 0px;
    &.inside {
        padding: 2.5px 0px;
    }
}

footer {
    font-size: 12px;
    color: #dddddd;
    text-align: center;
    padding: 8px;
}